@import "variables";

header {
  width: $size-pe-100;
  position: absolute;
  z-index: $index-5;
}

main {
  width: $size-pe-100;
  height: $size-pe-100;
  overflow-y: auto;
}

footer {
  width: $size-pe-100;
}

:host {
  height: $size-pe-100;
  display: flex;
  flex-direction: column;
}
