$color-success: #398538;
$color-success-contrast: #ffffff;
$color-success-shade: #327531;
$color-success-tint: #4d914c;

$color-warning: #fa5c00;
$color-warning-contrast: #000000;
$color-warning-shade: #dc5100;
$color-warning-tint: #fb6c1a;

$color-danger: #e91b06;
$color-danger-contrast: #ffffff;
$color-danger-shade: #cd1805;
$color-danger-tint: #eb321f;

$color-black: #000000;
$color-black-contrast: #ffffff;
$color-black-shade: #000000;
$color-black-tint: #1a1a1a;

$color-white: #ffffff;
$color-white-contrast: #000000;
$color-white-shade: #e0e0e0;
$color-white-tint: #ffffff;

$color-grey-1: #333333;
$color-grey-1-contrast: #ffffff;
$color-grey-1-shade: #2d2d2d;
$color-grey-1-tint: #474747;

$color-grey-2: #666666;
$color-grey-2-contrast: #ffffff;
$color-grey-2-shade: #5a5a5a;
$color-grey-2-tint: #757575;

$color-grey-3: #999999;
$color-grey-3-contrast: #000000;
$color-grey-3-shade: #878787;
$color-grey-3-tint: #a3a3a3;

$color-grey-4: #cccccc;
$color-grey-4-contrast: #000000;
$color-grey-4-shade: #b4b4b4;
$color-grey-4-tint: #d1d1d1;

$color-grey-5: #f5f5f5;
$color-grey-5-contrast: #000000;
$color-grey-5-shade: #d8d8d8;
$color-grey-5-tint: #f6f6f6;

$color-grey-6: #f9f9fb;
$color-grey-6-contrast: #000000;
$color-grey-6-shade: #dbdbdd;
$color-grey-6-tint: #fafafb;
