$color-pourpre: #8f0e43;
$color-pourpre-contrast: #ffffff;
$color-pourpre-shade: #7e0c3b;
$color-pourpre-tint: #9a2656;

$color-rubis: #d1005d;
$color-rubis-contrast: #ffffff;
$color-rubis-shade: #b80052;
$color-rubis-tint: #d61a6d;

$color-bordeaux: #bb142c;
$color-bordeaux-contrast: #ffffff;
$color-bordeaux-shade: #a51227;
$color-bordeaux-tint: #c22c41;

$color-amarante: #bf483d;
$color-amarante-contrast: #ffffff;
$color-amarante-shade: #a83f36;
$color-amarante-tint: #c55a50;

$color-carmin: #b0435f;
$color-carmin-contrast: #ffffff;
$color-carmin-shade: #9b3b54;
$color-carmin-tint: #b8566f;

$color-aquilain: #c6553d;
$color-aquilain-contrast: #ffffff;
$color-aquilain-shade: #ae4b36;
$color-aquilain-tint: #cc6650;

$color-corail: #e6434b;
$color-corail-contrast: #ffffff;
$color-corail-shade: #ca3b42;
$color-corail-tint: #e9565d;

$color-orange: #ec710f;
$color-orange-contrast: #000000;
$color-orange-shade: #d0630d;
$color-orange-tint: #ee7f27;

$color-bleu-de-prusse: #285066;
$color-bleu-de-prusse-contrast: #ffffff;
$color-bleu-de-prusse-shade: #23465a;
$color-bleu-de-prusse-tint: #3e6275;

$color-menthe: #00a193;
$color-menthe-contrast: #ffffff;
$color-menthe-shade: #008e81;
$color-menthe-tint: #1aaa9e;

$color-bleu-paon: #589496;
$color-bleu-paon-contrast: #000000;
$color-bleu-paon-shade: #4d8284;
$color-bleu-paon-tint: #699fa1;

$color-vert: #6e8e24;
$color-vert-contrast: #ffffff;
$color-vert-shade: #617d20;
$color-vert-tint: #7d993a;

$color-olive: #989407;
$color-olive-contrast: #000000;
$color-olive-shade: #868206;
$color-olive-tint: #a29f20;

$color-ambre: #eab818;
$color-ambre-contrast: #000000;
$color-ambre-shade: #cea215;
$color-ambre-tint: #ecbf2f;

$color-bleu-ciel: #009eba;
$color-bleu-ciel-contrast: #ffffff;
$color-bleu-ciel-shade: #008ba4;
$color-bleu-ciel-tint: #1aa8c1;

$color-bleu-persan: #5048ec;
$color-bleu-persan-contrast: #ffffff;
$color-bleu-persan-shade: #463fd0;
$color-bleu-persan-tint: #625aee;

$color-bleu-azur: #1759a4;
$color-bleu-azur-contrast: #ffffff;
$color-bleu-azur-shade: #144e90;
$color-bleu-azur-tint: #2e6aad;

$color-bleu-nuit: #5f98cd;
$color-bleu-nuit-contrast: #000000;
$color-bleu-nuit-shade: #5486b4;
$color-bleu-nuit-tint: #6fa2d2;

$color-bleu-roi: #537dee;
$color-bleu-roi-contrast: #ffffff;
$color-bleu-roi-shade: #496ed1;
$color-bleu-roi-tint: #648af0;

$color-bleu-electrique: #062499;
$color-bleu-electrique-contrast: #ffffff;
$color-bleu-electrique-shade: #052087;
$color-bleu-electrique-tint: #1f3aa3;

$color-lavande: #805bed;
$color-lavande-contrast: #ffffff;
$color-lavande-shade: #7150d1;
$color-lavande-tint: #8d6bef;

$color-orchidee: #d46ea7;
$color-orchidee-contrast: #000000;
$color-orchidee-shade: #bb6193;
$color-orchidee-tint: #d87db0;

$color-lilas: #b0479d;
$color-lilas-contrast: #ffffff;
$color-lilas-shade: #9b3e8a;
$color-lilas-tint: #b859a7;

$color-violet: #492578;
$color-violet-contrast: #ffffff;
$color-violet-shade: #40216a;
$color-violet-tint: #5b3b86;

$color-indigo: #521da5;
$color-indigo-contrast: #ffffff;
$color-indigo-shade: #481a91;
$color-indigo-tint: #6334ae;

$color-bleu-noir: #080d3d;
$color-bleu-noir-contrast: #ffffff;
$color-bleu-noir-shade: #070b36;
$color-bleu-noir-tint: #212550;

$color-bleu-fonce: #252c51;
$color-bleu-fonce-contrast: #ffffff;
$color-bleu-fonce-shade: #212747;
$color-bleu-fonce-tint: #3b4162;

$color-beige-pastel: #d8c6bd;
$color-beige-pastel-contrast: #000000;
$color-beige-pastel-shade: #beaea6;
$color-beige-pastel-tint: #dcccc4;

$color-vert-pastel: #a6c5cb;
$color-vert-pastel-contrast: #000000;
$color-vert-pastel-shade: #92adb3;
$color-vert-pastel-tint: #afcbd0;

$color-violet-pastel: #bab2d9;
$color-violet-pastel-contrast: #000000;
$color-violet-pastel-shade: #a49dbf;
$color-violet-pastel-tint: #c1badd;

$color-bleu-pastel: #89abd7;
$color-bleu-pastel-contrast: #000000;
$color-bleu-pastel-shade: #7996bd;
$color-bleu-pastel-tint: #95b3db;

$color-or: #e5bd77;
$color-or-contrast: #000000;
$color-or-shade: #caa669;
$color-or-tint: #e8c485;

$color-azurin: #e6f0f7;
$color-azurin-contrast: #000000;
$color-azurin-shade: #cad3d9;
$color-azurin-tint: #e9f2f8;
