// WorkSans
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/work-sans/WorkSans-Thin.woff2") format("woff2"),
    url("/assets/fonts/work-sans/WorkSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/work-sans/WorkSans-Light.woff2") format("woff2"),
    url("/assets/fonts/work-sans/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/work-sans/WorkSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/work-sans/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/work-sans/WorkSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/work-sans/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/work-sans/WorkSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/work-sans/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
