// @media
$size-screen-sm: 425px;
$size-screen-md: 768px;
$size-screen-lg: 1024px;

// %
$size-pe-5: 5%;
$size-pe-10: 10%;
$size-pe-15: 15%;
$size-pe-20: 20%;
$size-pe-25: 25%;
$size-pe-30: 30%;
$size-pe-35: 35%;
$size-pe-40: 40%;
$size-pe-45: 45%;
$size-pe-50: 50%;
$size-pe-55: 55%;
$size-pe-60: 60%;
$size-pe-65: 65%;
$size-pe-70: 70%;
$size-pe-75: 75%;
$size-pe-80: 80%;
$size-pe-85: 85%;
$size-pe-90: 90%;
$size-pe-95: 95%;
$size-pe-100: 100%;

// PX
$size-px-1: 1px;
$size-px-2: 2px;
$size-px-3: 3px;
$size-px-4: 4px;
$size-px-5: 5px;
$size-px-6: 6px;
$size-px-7: 7px;
$size-px-8: 8px;
$size-px-9: 9px;
$size-px-10: 10px;
$size-px-15: 15px;
$size-px-20: 20px;
$size-px-25: 25px;
$size-px-30: 30px;
$size-px-40: 40px;
$size-px-45: 45px;
$size-px-50: 50px;
$size-px-55: 55px;
$size-px-60: 60px;
$size-px-65: 65px;
$size-px-70: 70px;
$size-px-75: 75px;
$size-px-80: 80px;
$size-px-85: 85px;
$size-px-90: 90px;
$size-px-95: 95px;
$size-px-100: 100px;
$size-px-140: 140px;
$size-px-220: 220px;
$size-px-250: 250px;
