@import "variables";

.app-footer {
  padding: $size-px-40;
  display: flex;
  justify-content: space-evenly;
  background-color: $color-yallo-4;

  nav {
    padding: 0 $size-px-10 0 $size-px-10;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      padding-bottom: $size-px-10;
      font-weight: $font-medium;
      color: $color-white;
    }

    button {
      padding: $size-px-4;
      font-size: $font-size-13;
      color: $color-grey-3;

      &:hover {
        color: $color-white;
      }
    }
  }

  @media (max-width: 660px) {
    padding: $size-px-20;
    flex-wrap: wrap;

    nav {
      p {
        padding: $size-px-5;
      }

      button {
        display: none;
      }
    }
  }
}
